# Ignorar archivos de caché de Python
__pycache__/
*.pyc

# Ignorar descargados y archivos generados
descargas/
vault_data.json
tracks_vault.json
deluxe/
linux/
.venv/

# Archivos sensibles
*.env
config.py